*{
    margin: 0;
    padding: 0;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup {
    width: 500px;
    height: 500px;
    background-color: beige;
}

.popup_finish{
    width: 500px;
    height: 500px;
    background-color: beige;
}

#error_message, #error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none; /* 기본적으로 숨김 */
}

#nickError, #idError {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none; /* 기본적으로 숨김 */
}

.loginError_message{
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none; /* 기본적으로 숨김 */
}