* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* 로고 컨테이너 */
#logo_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1vw 2vw;
    position: relative;
}

.content-container {
    display: flex;
    justify-content: space-between;
    margin-right: 10vw;
}

/* 댓글 박스 */
.comment {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2vw;
    width: 40vw;
    margin: 0 auto;
    background-color: rgba(112, 140, 169, 0.5);
    border: 0.2vw solid rgba(85, 121, 158, 0.5);
    border-radius: 1.5vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
}

/* 입력창 */
.ps-box {
    display: block;
    position: relative;
    width: 65%;
    padding: 0vw 0.5vw;
    background-color: #888;
    box-sizing: border-box;
    border-radius: 0.5vw;
}

.ps-box > input {
    outline: none;
}

/* 입력 필드 */
.int {
    display: block;
    width: 100%;
    height: 3vw;
    padding: 0 0.5vw;
    font-size: 1vw;
    box-sizing: border-box;
    border-radius: 1.5vw;
    border: none;
}

/* 버튼 */
.btn {
    width: 20%;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #333;
    color: white;
    font-size: 1.5vw;
    cursor: pointer;
    border: 0.2vw solid #09629c;
    border-radius: 1.5vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: rgb(184, 178, 178);
}

/* 입력된 댓글 스타일 */
.comment > li {
    margin-top: 2vw;
}

.comment-id, .comment-date {
    line-height: 1.5vw;
    background-color: #5b82a6;
    font-size: 1.5vw;
    border: 0.1vw solid #8cb68d;
    border-radius: 1.5vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
}

/* 개별 댓글 스타일 */
.comment-id + li {
    background-color: whitesmoke;
    font-size: 1.5vw;
    border: 0.2vw solid #ffffff;
    border-radius: 1.5vw;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
}

/* 헤더 스타일 */
.drawer {
    flex-grow: 1; 
    text-align: center;
    font-size: 2vw;
}

#logo {
    width: 8vw;
}

/* 오른쪽 로고 */
#exit-logo {
    width: 8vw;
    height: auto;
    margin-right: 2vw;
    position: relative;
    z-index: 1;
}

/* 나가기 버튼 */
#exit_btn {
    position: absolute;
    top: 80%;
    right: 5.9vw;
    transform: translateY(-50%);
    padding: 0.5vw 1vw;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 1vw;
    font-size: 1vw;
    border: none;
    cursor: pointer;
    color: white;
    z-index: 2;
}

/* 컨텐츠 박스 */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5vw;
    margin-bottom: 5vw;
}

/* 이미지 박스 */
#image_box {
    position: relative;
    width: 100%;
    height: 33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#canvas {
    position: absolute;
    width: 50vw;
    aspect-ratio: 1 / 0.785;
    z-index: 10;
}

#displayedImage {
    position: absolute;
    width: 80%;
    top: 6vw;
    object-fit: cover;
}

.explain {
    text-align: center;
    width: 50vw;
}

/* 댓글 스타일 */
.comment {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    width: 40vw;
    margin: 0 auto;
}

.comment > li {
    margin-top: 2vw;
}

/* 댓글 폼 */
.comment-form > form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 댓글 작성 박스 */
.ps-box {
    display: block;
    position: relative;
    width: 65%;
    padding: 0vw 0.5vw;
    background-color: #888;
    box-sizing: border-box;
    border-radius: 0.5vw;
}

/* 댓글 리스트 */
.comment-row {
    width: 100%;
    display: flex;
    height: 4vw;
    padding: 0.3vw 0.6vw;
}

.comment-row li {
    border: 0.1vw solid;
    padding: 1vw 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
}

/* 댓글 아이디 */
.comment-row li:nth-child(1) {
    width: 25%;
    text-align: center;
    border-radius: 0.3vw; /* 둥근 정도 줄이기 */
    padding: 0.5vw 1vw;
}

/* 댓글 내용 */
.comment-row li:nth-child(2) {
    width: 55%;
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3vw; /* 기존보다 덜 둥글게 */
}

/* 댓글 날짜 */
.comment-row li:nth-child(3) {
    width: 35%;
    text-align: center;
    border-radius: 0.3vw; /* 기존보다 덜 둥글게 */
    padding: 0.5vw 1vw;
}

/* 댓글 삭제 버튼 */
.comment-delete-btn {
    position: relative;
    width: 2vw;
    height: 2vw;
    display: inline-block;
    border-radius: 0.3vw; /* 둥근 정도 줄이기 */
}

.comment-delete-btn::before,
.comment-delete-btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.4vw;
    background-color: red;
    top: 50%;
    left: 50%;
    border-radius: 0.2vw;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.comment-delete-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.comment {
    list-style: none; 
}

.comment li {
    list-style: none; 
}
