body {
    background-image: url(../images/DALL_E_2025-02-12_10.25.42_-_A_hand-drawn_style_title_that_reads__NINJA_SKETCH__in_a_playful__artistic_brushstroke_font._The_text_should_have_an_organic__slightly_rough_feel__rese-removebg-preview.png);
    background-repeat: no-repeat; 
    background-size: 170px, 120px;
    text-align: center;
    background-position: top left, top right; /* 위치 조정 */
    background-color: #007acc;
}

#result {
    font-size: 30px;
    margin-top: 10px;
}

canvas {
    margin-top: 10px;
    cursor: crosshair;
    background-color: white;
}

.colors > button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#eraser {
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
}

#eraser i {
    font-size: 20px;
}

.colors > button {
    width: 40px;  
    height: 40px;
    border-radius: 5px; 
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 20px;
}

#exit_btn {
    position: absolute;
    top: 115px; 
    right: 25px; 
    background-color: rgb(248, 62, 62); 
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#exit-container {
    position: absolute;
    top: 10px;  
    right: 10px; 
    display: flex;
    align-items: center;
    gap: 10px; 
    cursor: pointer;
}

#exit-logo {
    width: 120px; 
    height: auto;
}

#exit-container:hover #exit-logo {
    width: 110px; 
    height: auto;
    content: url("../images/DALL_E_2025-02-12_14.59.14_-_A_hand-drawn_style_ninja_in_a_sketch-like_appearance__running_away_quickly_in_a_cute_and_humorous_way._The_ninja_should_have_exaggerated_motion_lines_-removebg-preview.png"); 
}

#size {
    accent-color: black; 
}

#all_eraser {
    width: 130px;  
    height: 40px;
    padding: 5px 10px; 
    font-size: 16px;
}



#C_btn {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

.submit {
    display: block;  
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

#exit_btn:hover {
    background-color: red;
}

#all_eraser:hover {
    background-color: rgb(184, 178, 178);
}

#C_btn:hover {
    background-color: rgb(184, 178, 178);
}

.submit:hover {
    background-color: rgb(184, 178, 178);
}


#Canvas-container {
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    gap: 10px; /* 간격 조정 */
    margin-top: 20px;
}

#size-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 5px; 
    font-size: 20px;
}


#explanation {
    width: 400px;
    height: 50px;
    text-align: center;
    
}

#explanation-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
    margin-left: 10px;
}

.colors {
    margin-right: 10px;
}

